/* .Burger > svg {
  width: 3rem;
  height: 3rem;
  fill: var(--white);
} */
/* 
.Image {
  padding-top: 2.5%;
} */

/* .Image img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--tertiary);
} */

.strike {
  text-decoration: line-through;
}

.black {
  color: var(--black);
}

h1,
h2 {
  text-align: center;
}

.Introduction {
  border-top: 1px solid var(--white);
  padding: 2.5% 0;
  margin: 2.5% 0;
  border-bottom: 1px solid var(--white);
}

.intro-text {
  margin-top: 1%;
  text-align: center;
}

/* .Button {
  width: 100%;
  border-radius: 0;
  background-color: var(--black);
  padding: 0.8rem;
  border-top: 1.5px solid var(--black);
  border-bottom: 1.5px solid var(--black);
  border-left: 2px solid var(--secondary);
  border-right: 2px solid var(--secondary);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
} */

/* .Button:hover,
.Button:focus {
  background-color: var(--secondary);
  color: var(--white);
}

.Button:active {
  background-color: var(--tertiary);
} */

/* .Button:visited {
  background-color: var(--black);
} */

.pet-life {
  text-align: center;
  letter-spacing: 0.4px;
}
