.Navbar {
  border-bottom: 1px solid var(--tertiary);
  height: var(--nav-height);
  width: 100%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  padding-left: calc(var(--nav-height) * 0.2);
  position: fixed;
}

.Main,
.Pet {
  position: relative;
  top: var(--nav-height);
  width: 95%;
  margin-inline: auto;
}

.Links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
